.app-content{
    position: relative;
    // height: 100%;
    // width: 100%;

    .time-control-wrap{
        position: absolute;
        bottom: 2rem;
        right: 1rem;
        z-index: 5;
    }
}